html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Syne", sans-serif;
    background: linear-gradient(#141e30, #2a6c56);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(1, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    overflow: hidden;
    
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #f71105;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f71105;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #f71105;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f71105, 0 0 25px #f71105, 0 0 50px #f71105, 0 0 100px #f71105;
}

.login-box a span {
    position: absolute;
    display: block;
}
.login-box .user-box span{
    position: absolute;
    display: block;
}
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f71105);
    animation: btn-anim1 1s linear infinite;
}
.login-box .user-box span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f71105);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f71105);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
.login-box .user-box span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f71105);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f71105);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}
.login-box .user-box span:nth-child(3){
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f71105);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f71105);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
.login-box .user-box span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f71105);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
#mainpg{
    width: 100%;
    height: 100%;
    margin: 0 0;
    display: none;
    flex-direction: column;
    align-items: center;
}
.features{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.features h3{
    color: white;
    font-size: 18px;
    margin: 0;
    margin-right: auto;
    font-family: "Syne", sans-serif;
}
#msg{
    width: 100%;
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}
#r-lbl{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enable-btn{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(34, 34, 229);
    cursor: pointer;
    background: linear-gradient(270deg, transparent, #f71105);
}
.disable-btn{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(34, 34, 229);
    cursor: pointer;
    background: linear-gradient(270deg, transparent, #f71105);
}
.disable-btn:hover ,.enable-btn:hover{
    background: #f71105;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f71105, 0 0 25px #f71105, 0 0 50px #f71105, 0 0 100px #f71105;
}

#console{
    background-color: black;
    border-radius: 5px;
    width: 95%;
    height: 150px;
    overflow-y: auto;
    padding: 5px 10px;
    color: white;
    scrollbar-width: thin;  /* Set scrollbar width to thin */
    scrollbar-color: transparent;  /* Thumb color and track color */
}
#console::-webkit-scrollbar {
    width: 0;  /* Set the scrollbar width */
}
#console, label{
    display: block;
    margin-top: 8px;
    font-size: 17px ;
}

h6{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: -5px;
    text-align: left;
    width: 95%;
}
#space1{
    display: block;
    height: 30px;
}

.chbx-div {
    background: #f71105;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f71105, 0 0 25px #f71105, 0 0 50px #f71105, 0 0 100px #f71105;
}
